/* div {
    height: 200px;
    width: 200px; 
    background-color: rgba(0, 255, 0, 0.2);
}

#opacity {
    background-color: #ffa511;
    opacity: 0.7;
} */

/* transition */
/* div {
    background-color: rgba(0, 128, 0, 0.966);
    height: 100px;
    width: 100px;
    margin: 10px 600px;
    transition: all 0.5s ease-in 0.1s; 
}

div:hover {
    margin-left: 0;
    background-color: rgba(100, 148, 237, 0.893);
    border-radius: 50%;
} */


/* --------transform------ */
/* section {
    margin-top: 100px;
}

div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-of-type(2n) {
    background-color: #f7db6a;
}

div:nth-of-type(3n) {
    background-color: #ebb02d;
}

#one {
    transform: rotate(45deg);
}

#two {
    transform: translate(-100px);
}

#three {
    transform: skew(30deg);
}

#four {
    transform: scale(0.5);
}

#five {
    transform: rotate(-20deg) translate(50px) skew(-35deg) scale(0.6);
} */


/* ----shoadow-boxing---- */
/* #box {
    width: 400px;
    height: 100px;
    text-align: center;
    background-color: greenyellow;
    margin: 10px auto;
    box-shadow: 6px 5px 7px 2px black;
} */

/* ----background image----- */
/* div {
    width: 800px;
    height: 400px;    
    background-color: #7aa784;
    margin: 10px auto;
    background-image: url("bgimage.png");
    background-size: cover;
    color: white;
} */



/* ------card------- */
/* .card {
    height: 200px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    transition: box-shadow 0.8s ;
}

.desc {
    padding: 0 3px 0 3px;
}

img {
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0 0;
}

.card:hover {
    box-shadow: 0 10px 16px black;
    background-color: blanchedalmond;
} */


/* ------position---- */
/* div {
    width: 50px;
    height: 50px;
    background-color: green;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
}

#static {
    position: sticky;
    top: 100px;
    left: 100px;
    background-color: yellow;
}

#relative {
    position: relative;
    top: 100px;
    left: 100px;
    background-color: yellow;
}

#absolute {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: yellow;
}

#fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: yellow;
} */

.face {
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}

.mouth {
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 108px;
}

.lefteye, .righteye {
    width: 75px;
    height: 75px;
    background-color: #000;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 108px;
}

.righteye {
    left: 233px;
}